<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuiteForQuery"  verbose="10">
  
<test name="Test Under CHROME"  verbose="10">
    <parameter name="url" value="http://www.mopdev.com:8080"/>
      <classes>
      <class name="com.backupassist.mopdev.testcase.TestBase"/>
    </classes>
  </test>
<!--  >test name="Test Under IE"  verbose="10">
    <parameter name="url" value="https://www.backupassist.com/reseller/eoi.php"/>
     <parameter name="browserType" value="IE"/>
     <classes>
      <class name="com.emc.webautomation.testcases.TestCase_BackUpAssistQuery"/>
    </classes>
  </test -->
  
  
</suite>